{% extends 'base.html' %}

{% block content %}
<table class="table table-borderless">
    <h4 style="text-align:center;margin:20px;">Songs list</h4>
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Name</td>
            <td>Duration</td>
            <td>Time</td>
            <td>
                <a href="{% url 'song_form' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add new
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td><a href="{% url 'individual_song' song.id %}">{{song.name}}</a></td>
            <td>{{song.duration}}</td>
            <td>{{song.upload_time}}</td>
            <td>
                <a href="{% url 'update_song' song.id %}" class="btn text-secondary px-0">
                   <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'delete_song' song.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float -right"></i>
                    </button>
                </form>
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock content %}